
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>商品分类列表</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">首页</a></li>
                    <li class="breadcrumb-item active">商品展示</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-header">
                    <a class="btn btn-sm btn-primary" href="/Product/add">添加商品</a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="table" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th>序号</th>
                                        <th>商品标题</th>
                                        <th>商品品牌</th>
                                        <th>商品关键字</th>
                                        <th>商品图片</th>
                                        <th>默认价格</th>
                                        <th>默认库存</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->


            </div>
        </div>
    </div>
    @*<div class="modal fade" id="del-modal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">提示框</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>是否删除数据???</p>
                    </div>
                    <div class="modal-footer " justify-content-between>
                        <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
                        <button type="button" class="btn btn-primary" onclick="del()">是</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>*@
</section>
@section js{
    <script>
        //function alertDelModal(id) {
        //           //alert(alertDelModal)
        //        delID = id;
        //    $("del-modal").modal();
        //       };

        //var delID = null
        init()
        function init() {
            $.ajax({
                url: "/ProductBrand/GetAllByAddProduct",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $("#brand").append("<option value=\"\">请选择</option>")

                    data.map(function (v) {
                        $("#brand").append("<option value=\"" + v.ID + "\">" + v.BrandName + "</option>")
                    })
                }

            })
        }
        function del(id) {
            //var code = $(".del").attr("code");
            //alert(code);

            var formData = new FormData();
            formData.append("id", id)
            //alert(id);
            var r = confirm("是否删除")
            if (r == true) {
                $.ajax({
                    url: "/Product/Delete",
                    type: "POST",
                    dateType: "json",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.state) {
                            toastr.success('删除成功')
                            $("#table").DataTable().ajax.reload();
                        } else {
                            toastr.error(result.msg)
                        }
                    },
                    error: function (result) {
                        toastr.error('删除失败')
                    }

                })
            }
            else {
                toastr.success("您取消了操作");
            }
        }
        $(function () {
            $("#table").DataTable({
                "lengthChange": false,//不显示更改每页大小的下拉框
                "searching": false,//不显示搜索框
                "paging": true,//启用分页
                "info": true,//显示备注信息
                "ordering": false,//禁止排序
                "autoWidth": true,//宽度自适应
                "processing": true,//开启加载等待
                "iDisplayLength": 8,//每页的大小（显示条数）
                "pagingType": "full_numbers",
                //配置中文提示
                "language": {
                    "processing": "请求数据中...",//加载数据时的提示信息
                    "lengthMenu": "显示 _MENU_ 项结果",
                    "zeroRecords": "没有匹配结果",//无数据时的提示信息
                    "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "infoFiltered": "(由 _MAX_ 项结果过滤)",
                    "infoPostFix": "",
                    "search": "搜索:",
                    "searchPlaceholder": "搜索...",
                    "url": "",
                    "emptyTable": "表中数据为空",
                    "loadingRecords": "载入中...",
                    "infoThousands": ",",
                    "paginate": {
                        "first": "首页",
                        "previous": "上页",
                        "next": "下页",
                        "last": "尾页"
                    },
                    "aria": {
                        "sortAscending": ": 以升序排列此列",
                        "sortDescending": ": 以降序排列此列"
                    },
                    "decimal": "-",
                    "thousands": "."

                },
                "serverSide": true,//开启服务端模式(数据从后台获取)
                "ajax": function (data, callback, settings) {
                    //封装请求参数
                    var param = {};
                    param.draw = data.draw;//服务端直接返回就可以,不需要更改
                    param.pageSize = data.length;//每页的大小
                    param.pageIndex = data.start / data.length + 1;//页码
                    $.ajax({
                        type: "POST",//请求方式
                        url: "/Product/GetAll",//请求地址
                        cache: false,//禁用缓存
                        data: param,//传入组装的参数
                        dataType: "json",//期望服务端返回的数据格式(在回调函数中会自动将json串转化成js对象)
                        success: function (result) {
                            setTimeout(function () {
                                callback(result);//渲染数据(固定写法)
                                //$(".delbtn").on("click", function () {
                                //    delID = $(this).attr("code")
                                //    $("del-modal").modal()
                                //})
                            }, 500);
                            //console.log(data)
                        }
                    });
                },
                //设置数据映射
                columns: [
                    { "data": "ID" },
                    { "data": "ProductTitle" },
                    { "data": "BrandName" },
                     { "data": "keyWords" },
                    {
                        "data": function (data) {
                            console.log(JSON.parse(data.ProductMainImg))
                            JSON.parse(data.ProductMainImg).forEach(v => {
                                console.log(v.url)
                                img=v.url
                              //eval("(" + data.ProductMainImg + ")")    
                            })
                            var html = "<img src=\"" + img + "\" width=\"50\" height=\"50\"></img>";
                            return html;
                        }
                    },
                    { "data": "Price" },
                    { "data": "Stock" },
                    {
                        "data": function (data) {
                            var html = "<a href=\"/Product/Update?id=" + data.ID + "\" class=\"btn btn-sm btn-primary\">编辑</a>";
                            html += "&nbsp;&nbsp;"
                            html += "<a href=\"#\" onclick=\"del(" + data.ID + ");\"  class = \"del btn btn-sm btn-danger\">删除</a>";
                            // "<a href=\"\#\"  class=\"delbtn btn btn-sm btn-danger\"  code=" + data.ID + ">删除</a>";
                            //onclick=\"alertDelModal(" + data.ID + ")\"
                            return html;
                        }
                    }
                ]
            });
            //$('#example2').DataTable({
            //    "paging": true,
            //    "lengthChange": false,
            //    "searching": false,
            //    "ordering": true,
            //    "info": true,
            //    "autoWidth": false,
            //});
        });
    </script>
}
